.icon-tray
  .icon.home.active
    i.material-icons home
  .icon.user
    i.material-icons face
  .icon.search
    i.material-icons search
    
 .modal.home-modal.active-modal
   i.material-icons home
   h1 Home
   p Home on the range.
 .modal.user-modal
   i.material-icons face
   h1 You
   p Are what you eat.
 .modal.search-modal
   i.material-icons search
   h1 Search
   p For purpose in an otherwise uncaring universe.